@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Open+Sans:wght@300;400&family=Raleway&display=swap');

.username__secondary {
  font-size: 12px;
  font-style: italic;
  font-family: 'Josefin Sans', sans-serif;
}

.username__primary {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
}
