
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Open+Sans:wght@300;400&family=Raleway&display=swap');



.beatbooker_login {
  // background-color: red;
  font-size: 40px;
  // font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
}

.btn__link__login {
  color: gray;
}
