// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.selector{
color: #fff;
background: purple;
padding: 5px 15px;
border-radius: 100px;
height: 30px;
display: inline-block;
line-height: 20px;
position: absolute;
right: 30px;
top: 30px;
text-transform: uppercase;
font-weight: bold;
font-size: 10px;
letter-spacing: 1px
}
p{font: 18px/30px nunito !important}

strong {
  position: absolute;
  right: 30px;
}

.card-trip-infos strong {
  position: absolute;
  top: 15px;
}
.btn.btn-dark.mb-3 {
  border-radius: 15px;
  padding: 10px 30px;
}

.btn.btn-dark.w-100 {
  border-radius: 15px;
  padding: 15px;
}
.card-trip{
  border-radius: 15px
}

.fa-solid.fa-arrow-left.text-light {
  background: black;
  padding: 15px;
  border-radius: 15px;
  margin: 0 0 20px;
}

.container a {
  text-decoration: none;
  padding: 20px 10px 20px 0;
  display: inline-block;
}

#availability .card-trip {
  padding: 40px;
  margin: 20px 15px 0;
}
