<h1>Availability</h1>

<div id="availability">
  <% @availabilities.each do |availability| %>
    <div class="card-trip">
      From: <%= availability.start_time.strftime('%d-%m-%Y') %><br>
      Until: <%= availability.end_time.strftime('%d-%m-%Y') %>
    </div>
  <% end %>
</div>
<br><br>

<% if @band.user == current_user %>
  <%= link_to "Add Availability", new_band_availability_path, style: "text-decoration: none;
  margin: 10px 20px;
  display: inline-block; color: black" %>
<% end %>

<br><%= link_to "Back to Band", band_path(@band), style: "text-decoration: none;
  margin: 10px 20px;
  display: inline-block; color: black" %>

<br><br>
